{% extends "/general/header.html.twig" %}

{% block payload %}
    {#  CSS  #}
    {#  General  #}
    <link rel="stylesheet" href="/public/css/thank_you/general.css">
    <link rel="stylesheet" href="/public/css/thank_you/layout.css">

    {#  Text Decoration  #}
    <link rel="stylesheet" href="/public/css/thank_you/text_content.css">

    {#  Cards Decoration #}
    <link rel="stylesheet" href="/public/css/thank_you/card.css">

    {#  Contact Section Decoration #}
    <link rel="stylesheet" href="/public/css/thank_you/contact_section.css">


    <div id="thank_you_section">
        <div class="symptoms_section">
            <div class="acknowledgement_message">
                <h1 class="greeting_header">Dear {{ user.name }}</h1>
            </div>
            <div class="solid_concern_section">
                <div class="solid_concern_identification">
                    You said that <span class="hl_concern">{{ solid_concern.name }}</span> is your greatest concern.
                    So the highlighted card will provide information on tips for improving
                    <span class="hl_concern">{{ solid_concern.name }}</span> and for where to find more help.
                </div>
                <a target="_blank" href="" class="concern_card solid_concern_card">
                    <div class="img_part">
                        <img src={{ concerns_directory ~ "/" ~ solid_concern.imageName }} alt="">
                    </div>
                    <div class="name_part">
                        {{ solid_concern.name }}
                    </div>
                </a>
            </div>
            <div class="other_concerns_section">
                <div class="sub_header other_concerns_header">
                    Information to other concerns you have mentioned
                </div>

                <div class="other_concerns">
                    {% for concern in other_concerns %}
                        <a target="_blank" href="" class="concern_card">
                            <div class="img_part">
                                <img src={{ concerns_directory ~ "/" ~ concern.imageName }} alt="">
                            </div>
                            <div class="name_part">
                                {{ concern.name }}
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="contact_section">
            <div class="sub_header">
                Contact Us
            </div>
            <div class="email_section">
                <div class="contact_opening">
                    If you have more questions on these concerns, you can email us at:
                    <a href="mailto:info@brainstormforbraininjury.com" class="contact_email">info@brainstormforbraininjury.com</a>
                </div>
            </div>
            <div class="contact_form">
                <div class="contact_form_opening">
                    Or you can leave a message right here:
                </div>
                <div class="form_container">
                    <textarea name="message" id="user_message" placeholder="Type here..."></textarea>
                </div>
                <div class="send_message">
                    Send
                </div>
            </div>
        </div>
    </div>
{% endblock %}